main{
    padding: 5% 15%;
}

body{
    background-image: url('images/kendrick-lamar-portrait.jpg');
    background-size:cover;
    background-repeat: no-repeat;

}


header{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.headerSection{
    flex:1;
}

.headerImg{
    width: 25%;
    margin:  0% 37%;
}

li{
    float: left;
    padding: 0% 5%;
}

ul{
    list-style-type: none;
    padding: 0% 30%;
}

.quizQuestionBox{
    display: flex;
    flex-direction: column;
    
}

.graphicContainer{
    background:transparent;
    
}


@media only screen and (min-width: 800px) { 
    
}